### ESTIMATING THE DEMAND - PRICE EQUATION

In [109]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [110]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [111]:
df_3 = pd.read_csv('TSC_Sales_Data.csv')
print(df_3.info())
df_3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70829 entries, 0 to 70828
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SCRUB_ITEM      70829 non-null  int64
 1   TIME_DIM_KEY    70829 non-null  int64
 2   SCRUB_TRANS_NO  70829 non-null  int64
 3   TRANS_SEQ_NO    70829 non-null  int64
 4   UNIT_QTY        70829 non-null  float64
 5   UNIT_PRICE      70829 non-null  float64
 6   UNIT_COST       70829 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 3.8 MB
None

,SCRUB_ITEM,TIME_DIM_KEY,SCRUB_TRANS_NO,TRANS_SEQ_NO,UNIT_QTY,UNIT_PRICE,UNIT_COST
0,1,20180402,1296,2,2.0,322.99,132.97
1,1,20181206,6878,1,1.0,322.99,132.97
2,1,20181210,7010,2,2.0,322.99,132.97
3,1,20190214,8380,2,1.0,322.99,132.97
4,1,20190502,10639,1,2.0,219.99,132.97

In [112]:
#Converting to a weekly level
df_3['year'] = df_3['TIME_DIM_KEY']//10000
df_3['month'] = (df_3['TIME_DIM_KEY']//100)%100
df_3['day'] = df_3['TIME_DIM_KEY']%100
df_3['date'] = df_3['year'].astype(str) +'-'+df_3['month'].astype(str) +'-'+ df_3['day'].astype(str)
df_3['date'] = pd.to_datetime(df_3['date'])
df_3['weekday'] = df_3['date'].dt.week
df_3.head()

,SCRUB_ITEM,TIME_DIM_KEY,SCRUB_TRANS_NO,TRANS_SEQ_NO,UNIT_QTY,UNIT_PRICE,UNIT_COST,year,month,day,date,weekday
0,1,20180402,1296,2,2.0,322.99,132.97,2018,4,2,2018-04-02,14
1,1,20181206,6878,1,1.0,322.99,132.97,2018,12,6,2018-12-06,49
2,1,20181210,7010,2,2.0,322.99,132.97,2018,12,10,2018-12-10,50
3,1,20190214,8380,2,1.0,322.99,132.97,2019,2,14,2019-02-14,7
4,1,20190502,10639,1,2.0,219.99,132.97,2019,5,2,2019-05-02,18

In [113]:
df_time = df_3.groupby(['year','weekday']).date.min().reset_index()
df_time = df_time[:-1]
df_time['time_id'] = 100*df_time['year'] + df_time['weekday']
df_time.head()

   year  weekday       date  time_id
0  2018        1 2018-01-01   201801
1  2018        2 2018-01-08   201802
2  2018        3 2018-01-15   201803
3  2018        4 2018-01-22   201804
4  2018        5 2018-01-29   201805

In [114]:
df_3['time_id'] = 100*df_3['year'] + df_3['weekday']
df_3['time_id'] = np.where(df_3['time_id'] == 202153, 202101, df_3['time_id'])
df_3.head()

,SCRUB_ITEM,TIME_DIM_KEY,SCRUB_TRANS_NO,TRANS_SEQ_NO,UNIT_QTY,UNIT_PRICE,UNIT_COST,year,month,day,date,weekday,time_id
0,1,20180402,1296,2,2.0,322.99,132.97,2018,4,2,2018-04-02,14,201814
1,1,20181206,6878,1,1.0,322.99,132.97,2018,12,6,2018-12-06,49,201849
2,1,20181210,7010,2,2.0,322.99,132.97,2018,12,10,2018-12-10,50,201850
3,1,20190214,8380,2,1.0,322.99,132.97,2019,2,14,2019-02-14,7,201907
4,1,20190502,10639,1,2.0,219.99,132.97,2019,5,2,2019-05-02,18,201918

In [115]:
df = df_3.groupby(['SCRUB_ITEM','time_id']).agg({'UNIT_QTY':'sum',
                                                 'UNIT_PRICE':'mean','UNIT_COST':'mean'}).reset_index()
df.head()

   SCRUB_ITEM  time_id  UNIT_QTY  UNIT_PRICE  UNIT_COST
0           1   201814       2.0      322.99     132.97
1           1   201849       1.0      322.99     132.97
2           1   201850       2.0      322.99     132.97
3           1   201901       1.0      199.99     132.97
4           1   201907       1.0      322.99     132.97

In [116]:
df['year'] = df['time_id']//100
df['week'] = df['time_id']%100

In [117]:
df = pd.merge(df,df_time, on = 'time_id', how = 'left')

In [118]:
df = df.sort_values(by = 'time_id').reset_index(drop= True)

In [119]:
df.head()

,SCRUB_ITEM,time_id,UNIT_QTY,UNIT_PRICE,UNIT_COST,year_x,week,year_y,weekday,date
0,24,201801,1.0,99.990000,62.990000,2018,1,2018,1,2018-01-01
1,47,201801,11.0,155.444545,118.380000,2018,1,2018,1,2018-01-01
2,7,201801,1.0,149.990000,128.550000,2018,1,2018,1,2018-01-01
3,31,201801,16.0,69.990000,48.707143,2018,1,2018,1,2018-01-01
4,71,201801,7.0,238.561429,196.520000,2018,1,2018,1,2018-01-01

In [120]:
df['date'] = pd.to_datetime(df['date'])

In [121]:
#fourier features
fourier = pd.DataFrame()
fourier['date'] = df['date']
fourier = fourier.drop_duplicates()
fourier = fourier.sort_values(by = 'date')
fourier = fourier.set_index(pd.PeriodIndex(fourier['date'],freq = 'W'))
fourier['sin365'] = np.sin(2*np.pi*fourier.index.dayofyear/52)
fourier['cos365'] = np.cos(2*np.pi*fourier.index.dayofyear/52)
fourier['sin365_2'] = np.sin(4*np.pi*fourier.index.dayofyear/52)
fourier['cos365_2'] = np.cos(4*np.pi*fourier.index.dayofyear/52)

In [122]:
fourier= fourier.rename(columns = {'date':'Date'})
fourier= fourier.reset_index()
fourier = fourier.drop('date',axis =1)
fourier= fourier.rename(columns = {'Date':'date'})
fourier.head()

        date    sin365    cos365  sin365_2  cos365_2
0 2018-01-01  0.748511  0.663123  0.992709 -0.120537
1 2018-01-08  0.992709 -0.120537 -0.239316 -0.970942
2 2018-01-15  0.568065 -0.822984 -0.935016  0.354605
3 2018-01-22 -0.239316 -0.970942  0.464723  0.885456
4 2018-01-29 -0.885456 -0.464723  0.822984 -0.568065

In [123]:
fourier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      188 non-null    datetime64[ns]
 1   sin365    188 non-null    float64
 2   cos365    188 non-null    float64
 3   sin365_2  188 non-null    float64
 4   cos365_2  188 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 7.5 KB

In [124]:
df_1 = pd.merge(df,fourier, on = ['date'])
df_1.head()

,SCRUB_ITEM,time_id,UNIT_QTY,UNIT_PRICE,UNIT_COST,year_x,week,year_y,weekday,date,sin365,cos365,sin365_2,cos365_2
0,24,201801,1.0,99.990000,62.990000,2018,1,2018,1,2018-01-01,0.748511,0.663123,0.992709,-0.120537
1,47,201801,11.0,155.444545,118.380000,2018,1,2018,1,2018-01-01,0.748511,0.663123,0.992709,-0.120537
2,7,201801,1.0,149.990000,128.550000,2018,1,2018,1,2018-01-01,0.748511,0.663123,0.992709,-0.120537
3,31,201801,16.0,69.990000,48.707143,2018,1,2018,1,2018-01-01,0.748511,0.663123,0.992709,-0.120537
4,71,201801,7.0,238.561429,196.520000,2018,1,2018,1,2018-01-01,0.748511,0.663123,0.992709,-0.120537

In [125]:
df_1['year']=df_1['date'].dt.year
df_1['month']=df_1['date'].dt.month

In [126]:
df_1.head()
df_2=df_1.copy()

In [127]:
#Features decided using RFE Polynomial fits
df_2['col1'] = df_2['UNIT_PRICE']*df_2['month']
df_2['col2'] = df_2['UNIT_PRICE']*df_2['year']
df_2['col3'] = df_2['month']*df_2['week']
df_2['col4'] = df_2['month']*df_2['year']
df_2['col5'] = df_2['month']*df_2['year']*df_2['week']
df_2['col6'] = df_2['month']*df_2['year']*df_2['week']*df_2['UNIT_PRICE']

In [128]:
import statsmodels.api as sm  
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('ignore')

In [129]:
#Linear Regression using best features ,and obtaining R2s
r = []
q = []
a = []
for x in list(df_2.SCRUB_ITEM.unique()):
    df_x=df_2[df_2.SCRUB_ITEM==x]
    y = df_x['UNIT_QTY']
    X = df_x[['UNIT_PRICE','sin365','col1','col2','col3','col4','col5','col6','cos365','year','month','week']]
    X = sm.add_constant(X)
    y = list(y.values)
    lm = sm.OLS(y,X).fit()
    print('r2 score for ', x, ' ',r2_score(y,lm.predict(X)))
    print('adjusted_r2 for ', x ,' ', lm.rsquared_adj)
    b = r2_score(y,lm.predict(X))
    z = lm.rsquared_adj            
    r.append(b) 
    q.append(x) 
    a.append(z)

r2 score for  24   0.7419676261621093
adjusted_r2 for  24   0.7179646146423055
r2 score for  47   0.603366414888494
adjusted_r2 for  47   0.5278171605815405
r2 score for  7   0.42269762998438365
adjusted_r2 for  7   0.31096168740071595
r2 score for  31   0.5522236957713651
adjusted_r2 for  31   0.5204289286072018
r2 score for  71   0.7043117819968332
adjusted_r2 for  71   0.6333466096760731
r2 score for  97   0.35809687755737896
adjusted_r2 for  97   0.28742864389397116
r2 score for  33   0.15349634550870594
adjusted_r2 for  33   0.001883750674444018
r2 score for  16   0.39794323017611233
adjusted_r2 for  16   0.30411620111264925
r2 score for  75   0.40851632909789215
adjusted_r2 for  75   0.3508106051074428
r2 score for  89   0.5772473070114992
adjusted_r2 for  89   0.5432001102607473
r2 score for  49   0.6418541227596853
adjusted_r2 for  49   0.605121212273499
r2 score for  88   0.7449912565825332
adjusted_r2 for  88   0.6798826412419035
r2 score for  19   0.33681749932203553
adjusted_r2 for  19   0.2463835219568583
r2 score for  69   0.3428963162872255
adjusted_r2 for  69   0.2948155589423883
r2 score for  58   0.41661027897592595
adjusted_r2 for  58   0.346603512453037
r2 score for  94   0.5315298198817041
adjusted_r2 for  94   0.49454533197762796
r2 score for  10   0.4023926689695162
adjusted_r2 for  10   0.10358900345427435
r2 score for  81   0.781250720579978
adjusted_r2 for  81   0.7187509264599719
r2 score for  40   0.409662186722342
adjusted_r2 for  40   0.363056569884632
r2 score for  92   0.9001206883662373
adjusted_r2 for  92   0.7669482728545536
r2 score for  27   0.368711928483237
adjusted_r2 for  27   0.31341662294892203
r2 score for  2   0.28869172331777215
adjusted_r2 for  2   0.2081662580329915
r2 score for  21   0.244946071864114
adjusted_r2 for  21   0.1543396004878077
r2 score for  91   0.29858612573724386
adjusted_r2 for  91   0.21181327531298533
r2 score for  90   0.39831140677174404
adjusted_r2 for  90   0.3133671347865784
r2 score for  59   0.5463201620943292
adjusted_r2 for  59   0.4782681864084787
r2 score for  70   0.6047475856714088
adjusted_r2 for  70   0.5676926718281035
r2 score for  11   0.22319938740406597
adjusted_r2 for  11   0.10213955167482958
r2 score for  52   0.31271725631229674
adjusted_r2 for  52   0.20831987752429126
r2 score for  51   0.39158056023996146
adjusted_r2 for  51   0.2657006761516777
r2 score for  43   0.481230235957393
adjusted_r2 for  43   0.4170525331892355
r2 score for  56   0.6333780164365215
adjusted_r2 for  56   0.5976100180400845
r2 score for  64   0.06276950020107508
adjusted_r2 for  64   -0.045372480544954685
r2 score for  83   0.35001406250562606
adjusted_r2 for  83   0.2890778808655282
r2 score for  86   0.3068210160763045
adjusted_r2 for  86   0.24051693935316865
r2 score for  28   0.2925173311798226
adjusted_r2 for  28   0.2397857036901201
r2 score for  82   0.4188105194949676
adjusted_r2 for  82   0.35301548396609617
r2 score for  45   0.30486580217435555
adjusted_r2 for  45   0.21797402744615002
r2 score for  12   0.48899248490137237
adjusted_r2 for  12   0.3463857365017553
r2 score for  87   0.19613789459961195
adjusted_r2 for  87   0.07991686731280867
r2 score for  29   0.24363558505683502
adjusted_r2 for  29   0.1444402519495348
r2 score for  57   0.5337836854237492
adjusted_r2 for  57   0.41722960677968657
r2 score for  1   0.3840951512044507
adjusted_r2 for  1   0.3086782309437712
r2 score for  76   0.3998378887346319
adjusted_r2 for  76   0.2361573129349862
r2 score for  53   0.45895752837477166
adjusted_r2 for  53   0.28810201101943644
r2 score for  3   0.423030109882503
adjusted_r2 for  3   0.3425226833544801
r2 score for  79   0.4166171410574009
adjusted_r2 for  79   0.11224347552213176
r2 score for  36   0.3197849105406042
adjusted_r2 for  36   0.14611297280629043
r2 score for  17   0.5521144588481921
adjusted_r2 for  17   0.46680292720022865
r2 score for  95   0.25252491851814407
adjusted_r2 for  95   0.15174176146441065
r2 score for  62   0.2841094892640941
adjusted_r2 for  62   0.023785667178309988
r2 score for  48   0.5822945427000381
adjusted_r2 for  48   0.4569829055100497
r2 score for  77   0.6159268070542254
adjusted_r2 for  77   0.5771967371773405
r2 score for  50   0.35260816837535924
adjusted_r2 for  50   0.26996240263604354
r2 score for  85   0.5238857967654562
adjusted_r2 for  85   0.4180826404911131
r2 score for  38   0.49650716620132873
adjusted_r2 for  38   0.42371302155573765
r2 score for  41   0.34058547304685793
adjusted_r2 for  41   0.19928236012832756
r2 score for  74   0.23158361439504616
adjusted_r2 for  74   0.1334879055944138
r2 score for  32   0.20689726052526625
adjusted_r2 for  32   0.08000082220930904
r2 score for  80   0.31170571230373456
adjusted_r2 for  80   0.20715468126126413
r2 score for  23   0.31110190726756604
adjusted_r2 for  23   0.09913326334989403
r2 score for  93   0.2786841154457754
adjusted_r2 for  93   0.17182250291922385
r2 score for  68   0.42892191988286743
adjusted_r2 for  68   0.3218447798609051
r2 score for  55   0.44152590295639416
adjusted_r2 for  55   0.3777002918656962
r2 score for  61   0.5274786376569325
adjusted_r2 for  61   0.4453010094233554
r2 score for  54   0.4488177764228535
adjusted_r2 for  54   0.35566021750840615
r2 score for  37   0.6099937980314117
adjusted_r2 for  37   0.5492136107116319
r2 score for  63   0.618490501232577
adjusted_r2 for  63   0.5304498476708639
r2 score for  44   0.2963654038606549
adjusted_r2 for  44   0.19339448735245812
r2 score for  6   0.40406655176620165
adjusted_r2 for  6   0.3019065320689792
r2 score for  39   0.21912212123739538
adjusted_r2 for  39   0.05756118080375283
r2 score for  42   0.6637694441590137
adjusted_r2 for  42   0.5741079626014174
r2 score for  73   0.19643453588457482
adjusted_r2 for  73   0.0970243753754505
r2 score for  72   0.5520694637727359
adjusted_r2 for  72   0.4142446833951162
r2 score for  46   0.6779390218351733
adjusted_r2 for  46   0.5399128883359618
r2 score for  5   0.27509956279467374
adjusted_r2 for  5   0.13702328904127836
r2 score for  13   0.28900161182458584
adjusted_r2 for  13   0.2114381512963588
r2 score for  34   0.2025709102607972
adjusted_r2 for  34   0.09814567231875893
r2 score for  18   0.3667190403654491
adjusted_r2 for  18   0.27516034740623696
r2 score for  15   0.4839032220823698
adjusted_r2 for  15   0.37130028871852305
r2 score for  66   0.5154918959905435
adjusted_r2 for  66   0.32168865438676086
r2 score for  78   0.6376003518591519
adjusted_r2 for  78   0.5788328413498254
r2 score for  20   0.314976677491979
adjusted_r2 for  20   -0.23304198051443792
r2 score for  14   0.2855624773227352
adjusted_r2 for  14   -0.031965310533826896
r2 score for  65   0.2931156371874841
adjusted_r2 for  65   0.2074326841193005
r2 score for  30   0.7977374193189439
adjusted_r2 for  30   0.7527901791675982
r2 score for  35   0.3261686459287265
adjusted_r2 for  35   0.08834581508004158
r2 score for  8   0.46418995121884754
adjusted_r2 for  8   0.08597109325568109
r2 score for  22   0.304891565650642
adjusted_r2 for  22   -0.11989692200729896
r2 score for  96   0.7513369416615225
adjusted_r2 for  96   0.6157025462041712
r2 score for  25   0.2606789708886583
adjusted_r2 for  25   -0.23220171518556953
r2 score for  26   0.3760018205785238
adjusted_r2 for  26   -1.4959927176859042
r2 score for  4   0.7021458530256236
adjusted_r2 for  4   0.6338876110106624
r2 score for  84   1.0
adjusted_r2 for  84   nan
r2 score for  60   0.5084894312174713
adjusted_r2 for  60   0.4101873174609655
r2 score for  9   0.2278259981592594
adjusted_r2 for  9   -0.6215654038655554
r2 score for  67   0.7698361899996515
adjusted_r2 for  67   0.700787046999547

In [130]:
#Calculating weighted R2 and adj R2 using Unit_qty as weights
D = pd.DataFrame()
D['r2']=r
D['adj_r']=a
D['SCRUB_ITEM']=q
w = df_2.groupby(['SCRUB_ITEM'])['UNIT_QTY'].sum().reset_index()
w['UNIT_QTY_s']=w['UNIT_QTY'].sum()
w['weight']=w['UNIT_QTY']/w['UNIT_QTY_s']
D1 = pd.merge(D,w,on=['SCRUB_ITEM'],how='outer')
D1['wr']=D1['weight']*D1['r2']
D1['wa']=D1['weight']*D1['adj_r']
print(D1.wr.sum())
print(D1.wa.sum())

0.41470581058390416
0.3358436149744579

In [131]:
D[D['r2']>0.5].SCRUB_ITEM.nunique()

32

In [132]:
len(df_2.SCRUB_ITEM.unique())

97

In [133]:
df_2.columns

Index(['SCRUB_ITEM', 'time_id', 'UNIT_QTY', 'UNIT_PRICE', 'UNIT_COST',
       'year_x', 'week', 'year_y', 'weekday', 'date', 'sin365', 'cos365',
       'sin365_2', 'cos365_2', 'year', 'month', 'col1', 'col2', 'col3', 'col4',
       'col5', 'col6'],
      dtype='object')

In [134]:
#obtaining coeffs 
import statsmodels.api as sm  
from sklearn.preprocessing import PolynomialFeatures
polynomial_features= PolynomialFeatures(degree=3)
q1 = pd.DataFrame()
const_l =[]
UNIT_PRICE_l=[]
year_l=[]
sin365_l=[]
cos365_l=[]
month_l=[]
week_l=[]
scrub_l=[]
col_1_l=[]
col_2_l=[]
col_3_l=[]
col_4_l=[]
col_5_l=[]
col_6_l=[]

for x in list(df_2.SCRUB_ITEM.unique()):
    df_x=df_2[df_2.SCRUB_ITEM==x]
    y = df_x['UNIT_QTY']
    X = df_x[[  'UNIT_PRICE','year','sin365','month','cos365','week', 'col1', 'col2', 'col3', 'col4',
       'col5', 'col6']]
    X = sm.add_constant(X)
    lm = sm.OLS(y,X).fit()
    y_predict = lm.predict(X)
    A = pd.read_html(lm.summary().tables[1].as_html(),header=0,index_col=0)[0]
    const = A['coef'].values[0]
    UNIT_PRICE = A['coef'].values[1]
    year = A['coef'].values[2]
    sin365 = A['coef'].values[3]
    month = A['coef'].values[4]
    cos365 = A['coef'].values[5]
    week = A['coef'].values[6]
    col1 = A['coef'].values[7]
    col2 = A['coef'].values[8]
    col3 = A['coef'].values[9]
    col4 = A['coef'].values[10]
    col5 = A['coef'].values[11]
    col6 = A['coef'].values[12]
    print(lm.params)
    scrub_l.append(x)
    const_l.append(const)
    UNIT_PRICE_l.append(UNIT_PRICE)
    year_l.append(year)
    sin365_l.append(sin365)
    cos365_l.append(cos365)
    month_l.append(month)
    week_l.append(week)
    col_1_l.append(col1)
    col_2_l.append(col2)
    col_3_l.append(col3)
    col_4_l.append(col4)
    col_5_l.append(col5)
    col_6_l.append(col6)
    print(lm.params)

const        -148161.543624
UNIT_PRICE      1501.159103
year              73.294283
sin365             0.288921
month          -2742.678856
cos365            -0.036661
week               0.183711
col1              -0.854422
col2              -0.742586
col3              18.435446
col4               1.399809
col5              -0.009702
col6               0.000006
dtype: float64
const        -148161.543624
UNIT_PRICE      1501.159103
year              73.294283
sin365             0.288921
month          -2742.678856
cos365            -0.036661
week               0.183711
col1              -0.854422
col2              -0.742586
col3              18.435446
col4               1.399809
col5              -0.009702
col6               0.000006
dtype: float64
const         15856.040175
UNIT_PRICE      -95.385646
year             -7.815510
sin365           -0.131791
month         -1419.758009
cos365           -2.201118
week             -1.929680
col1              0.148537
col2              0.047052
col3             18.701343
col4              0.691575
col5             -0.008885
col6             -0.000002
dtype: float64
const         15856.040175
UNIT_PRICE      -95.385646
year             -7.815510
sin365           -0.131791
month         -1419.758009
cos365           -2.201118
week             -1.929680
col1              0.148537
col2              0.047052
col3             18.701343
col4              0.691575
col5             -0.008885
col6             -0.000002
dtype: float64
const        -4.819950e+04
UNIT_PRICE    3.375629e+02
year          2.385689e+01
sin365       -5.568154e-01
month        -4.216121e+03
cos365        1.568606e+00
week          6.391682e-01
col1         -3.866173e-02
col2         -1.670822e-01
col3          6.973483e+01
col4          2.089974e+00
col5         -3.456913e-02
col6          1.819825e-07
dtype: float64
const        -4.819950e+04
UNIT_PRICE    3.375629e+02
year          2.385689e+01
sin365       -5.568154e-01
month        -4.216121e+03
cos365        1.568606e+00
week          6.391682e-01
col1         -3.866173e-02
col2         -1.670822e-01
col3          6.973483e+01
col4          2.089974e+00
col5         -3.456913e-02
col6          1.819825e-07
dtype: float64
const         64867.496334
UNIT_PRICE     -772.181058
year            -32.119894
sin365           -1.418736
month        -13587.648282
cos365            2.632007
week              1.446578
col1             -0.531470
col2              0.382348
col3            279.398991
col4              6.751029
col5             -0.138910
col6              0.000006
dtype: float64
const         64867.496334
UNIT_PRICE     -772.181058
year            -32.119894
sin365           -1.418736
month        -13587.648282
cos365            2.632007
week              1.446578
col1             -0.531470
col2              0.382348
col3            279.398991
col4              6.751029
col5             -0.138910
col6              0.000006
dtype: float64
const        -6.160112e+04
UNIT_PRICE    2.441711e+02
year          3.050396e+01
sin365        1.565528e-01
month         9.855657e+02
cos365       -1.845784e-01
week         -2.786470e-01
col1         -4.210136e-02
col2         -1.209024e-01
col3         -3.346376e+01
col4         -4.827134e-01
col5          1.650664e-02
col6          3.036949e-07
dtype: float64
const        -6.160112e+04
UNIT_PRICE    2.441711e+02
year          3.050396e+01
sin365        1.565528e-01
month         9.855657e+02
cos365       -1.845784e-01
week         -2.786470e-01
col1         -4.210136e-02
col2         -1.209024e-01
col3         -3.346376e+01
col4         -4.827134e-01
col5          1.650664e-02
col6          3.036949e-07
dtype: float64
const        -1.393007e+05
UNIT_PRICE    6.731011e+03
year          6.902498e+01
sin365       -2.943826e+00
month        -1.136748e+04
cos365       -4.718825e+00
week          1.587531e+00
col1         -6.206003e-02
col2         -3.335126e+00
col3          2.400490e+02
col4          5.627993e+00
col5         -1.188747e-01
col6         -5.312176e-07
dtype: float64
const        -1.393007e+05
UNIT_PRICE    6.731011e+03
year          6.902498e+01
sin365       -2.943826e+00
month        -1.136748e+04
cos365       -4.718825e+00
week          1.587531e+00
col1         -6.206003e-02
col2         -3.335126e+00
col3          2.400490e+02
col4          5.627993e+00
col5         -1.188747e-01
col6         -5.312176e-07
dtype: float64
const         4.048315e+04
UNIT_PRICE   -5.985781e+01
year         -2.002518e+01
sin365       -1.028036e-02
month         7.587316e+02
cos365        1.853774e-01
week          1.635351e-01
col1          2.311330e-02
col2          2.961178e-02
col3         -2.524521e+01
col4         -3.842239e-01
col5          1.264582e-02
col6         -1.994647e-07
dtype: float64
const         4.048315e+04
UNIT_PRICE   -5.985781e+01
year         -2.002518e+01
sin365       -1.028036e-02
month         7.587316e+02
cos365        1.853774e-01
week          1.635351e-01
col1          2.311330e-02
col2          2.961178e-02
col3         -2.524521e+01
col4         -3.842239e-01
col5          1.264582e-02
col6         -1.994647e-07
dtype: float64
const         64035.108453
UNIT_PRICE    -1702.112379
year            -31.619137
sin365            1.307682
month          -877.670169
cos365           -3.844485
week             -2.255293
col1             -0.235170
col2              0.841384
col3             38.658574
col4              0.445449
col5             -0.019420
col6              0.000005
dtype: float64
const         64035.108453
UNIT_PRICE    -1702.112379
year            -31.619137
sin365            1.307682
month          -877.670169
cos365           -3.844485
week             -2.255293
col1             -0.235170
col2              0.841384
col3             38.658574
col4              0.445449
col5             -0.019420
col6              0.000005
dtype: float64
const         3.292836e+04
UNIT_PRICE   -1.786421e+01
year         -1.630104e+01
sin365        8.680592e-01
month        -5.042217e+03
cos365       -1.989501e+00
week          1.651798e-01
col1         -3.587576e-03
col2          8.846354e-03
col3          1.193970e+02
col4          2.497622e+00
col5         -5.912623e-02
col6          1.786403e-08
dtype: float64
const         3.292836e+04
UNIT_PRICE   -1.786421e+01
year         -1.630104e+01
sin365        8.680592e-01
month        -5.042217e+03
cos365       -1.989501e+00
week          1.651798e-01
col1         -3.587576e-03
col2          8.846354e-03
col3          1.193970e+02
col4          2.497622e+00
col5         -5.912623e-02
col6          1.786403e-08
dtype: float64
const        -26430.249735
UNIT_PRICE      321.002868
year             13.057520
sin365           -0.648763
month         -6255.182191
cos365            0.429226
week              0.413847
col1             -0.422292
col2             -0.158645
col3            126.510226
col4              3.119198
col5             -0.063032
col6              0.000004
dtype: float64
const        -26430.249735
UNIT_PRICE      321.002868
year             13.057520
sin365           -0.648763
month         -6255.182191
cos365            0.429226
week              0.413847
col1             -0.422292
col2             -0.158645
col3            126.510226
col4              3.119198
col5             -0.063032
col6              0.000004
dtype: float64
const        -84649.026662
UNIT_PRICE      464.832615
year             41.894771
sin365           -0.003481
month          1023.434447
cos365           -0.359537
week             -0.307014
col1             -0.223359
col2             -0.230031
col3            -20.358748
col4             -0.488097
col5              0.009806
col6              0.000002
dtype: float64
const        -84649.026662
UNIT_PRICE      464.832615
year             41.894771
sin365           -0.003481
month          1023.434447
cos365           -0.359537
week             -0.307014
col1             -0.223359
col2             -0.230031
col3            -20.358748
col4             -0.488097
col5              0.009806
col6              0.000002
dtype: float64
const        -115103.817826
UNIT_PRICE       995.996776
year              57.048629
sin365            -0.879916
month           4802.455864
cos365            -1.823555
week              -0.741136
col1               0.249929
col2              -0.493602
col3            -139.171434
col4              -2.394265
col5               0.069280
col6              -0.000002

dtype: float64
const        -115103.817826
UNIT_PRICE       995.996776
year              57.048629
sin365            -0.879916
month           4802.455864
cos365            -1.823555
week              -0.741136
col1               0.249929
col2              -0.493602
col3            -139.171434
col4              -2.394265
col5               0.069280
col6              -0.000002
dtype: float64
const         4.238749e+03
UNIT_PRICE   -4.594186e-01
year         -2.085049e+00
sin365        5.319296e-01
month        -2.249682e+03
cos365       -8.684680e-01
week          2.050887e-01
col1          1.368539e-03
col2          2.205999e-04
col3          5.039203e+01
col4          1.112689e+00
col5         -2.494263e-02
col6         -9.298036e-09
dtype: float64
const         4.238749e+03
UNIT_PRICE   -4.594186e-01
year         -2.085049e+00
sin365        5.319296e-01
month        -2.249682e+03
cos365       -8.684680e-01
week          2.050887e-01
col1          1.368539e-03
col2          2.205999e-04
col3          5.039203e+01
col4          1.112689e+00
col5         -2.494263e-02
col6         -9.298036e-09
dtype: float64
const         65129.740793
UNIT_PRICE     -912.335682
year            -32.269690
sin365           -1.754808
month        -25749.551037
cos365            1.644176
week              2.085425
col1             -2.096021
col2              0.452229
col3            511.186284
col4             12.795786
col5             -0.254185
col6              0.000022
dtype: float64
const         65129.740793
UNIT_PRICE     -912.335682
year            -32.269690
sin365           -1.754808
month        -25749.551037
cos365            1.644176
week              2.085425
col1             -2.096021
col2              0.452229
col3            511.186284
col4             12.795786
col5             -0.254185
col6              0.000022
dtype: float64
const        -6.024381e+04
UNIT_PRICE    3.287860e+02
year          2.981632e+01
sin365       -2.937620e+00
month        -1.633104e+04
cos365       -3.213023e+00
week         -2.362280e+00
col1         -7.162252e-02
col2         -1.627446e-01
col3          3.202144e+02
col4          8.102240e+00
col5         -1.586981e-01
col6          3.973863e-07
dtype: float64
const        -6.024381e+04
UNIT_PRICE    3.287860e+02
year          2.981632e+01
sin365       -2.937620e+00
month        -1.633104e+04
cos365       -3.213023e+00
week         -2.362280e+00
col1         -7.162252e-02
col2         -1.627446e-01
col3          3.202144e+02
col4          8.102240e+00
col5         -1.586981e-01
col6          3.973863e-07
dtype: float64
const         1.191981e+05
UNIT_PRICE   -3.881536e+02
year         -5.878439e+01
sin365       -5.845970e-01
month        -5.077365e+03
cos365        1.763997e+00
week          4.248877e-01
col1          1.939293e-01
col2          1.914066e-01
col3          1.136539e+02
col4          2.487533e+00
col5         -5.608397e-02
col6         -8.671782e-07
dtype: float64
const         1.191981e+05
UNIT_PRICE   -3.881536e+02
year         -5.878439e+01
sin365       -5.845970e-01
month        -5.077365e+03
cos365        1.763997e+00
week          4.248877e-01
col1          1.939293e-01
col2          1.914066e-01
col3          1.136539e+02
col4          2.487533e+00
col5         -5.608397e-02
col6         -8.671782e-07
dtype: float64
const         1.376725e+04
UNIT_PRICE    4.667633e+00
year         -6.823672e+00
sin365       -2.596795e-01
month        -5.493560e+03
cos365        6.341134e-01
week          6.184816e-02
col1         -3.124086e-03
col2         -2.311793e-03
col3          7.162440e+01
col4          2.725146e+00
col5         -3.557428e-02
col6          4.184419e-08
dtype: float64
const         1.376725e+04
UNIT_PRICE    4.667633e+00
year         -6.823672e+00
sin365       -2.596795e-01
month        -5.493560e+03
cos365        6.341134e-01
week          6.184816e-02
col1         -3.124086e-03
col2         -2.311793e-03
col3          7.162440e+01
col4          2.725146e+00
col5         -3.557428e-02
col6          4.184419e-08
dtype: float64
const        -43607.030791
UNIT_PRICE      114.052592
year             21.665162
sin365            1.331378
month          5040.060788
cos365            0.352505
week              0.513122
col1              0.271446
col2             -0.056764
col3            -78.081636
col4             -2.530244
col5              0.039289
col6             -0.000003
dtype: float64
const        -43607.030791
UNIT_PRICE      114.052592
year             21.665162
sin365            1.331378
month          5040.060788
cos365            0.352505
week              0.513122
col1              0.271446
col2             -0.056764
col3            -78.081636
col4             -2.530244
col5              0.039289
col6             -0.000003
dtype: float64
const        -654020.175188
UNIT_PRICE     15508.931964
year             323.604710
sin365             4.399646
month          16019.767082
cos365           -10.265106
week              -2.105524
col1              -2.717267
col2              -7.672656
col3            -469.013248
col4              -7.886893
col5               0.232497
col6               0.000002
dtype: float64
const        -654020.175188
UNIT_PRICE     15508.931964
year             323.604710
sin365             4.399646
month          16019.767082
cos365           -10.265106
week              -2.105524
col1              -2.717267
col2              -7.672656
col3            -469.013248
col4              -7.886893
col5               0.232497
col6               0.000002
dtype: float64
const        -2.636963e+04
UNIT_PRICE    1.757343e+01
year          1.308856e+01
sin365       -2.900222e-01
month         9.034074e+03
cos365        9.876702e-01
week          1.601488e-01
col1          5.300195e-02
col2         -8.729748e-03
col3         -3.538251e+02
col4         -4.501408e+00
col5          1.759064e-01
col6         -7.039424e-07
dtype: float64
const        -2.636963e+04
UNIT_PRICE    1.757343e+01
year          1.308856e+01
sin365       -2.900222e-01
month         9.034074e+03
cos365        9.876702e-01
week          1.601488e-01
col1          5.300195e-02
col2         -8.729748e-03
col3         -3.538251e+02
col4         -4.501408e+00
col5          1.759064e-01
col6         -7.039424e-07
dtype: float64
const         18758.855232
UNIT_PRICE     -112.968318
year             -9.205937
sin365           -1.278590
month          4119.747797
cos365            0.200531
week             -1.006058
col1              0.157193
col2              0.055690
col3            -57.535363
col4             -2.063724
col5              0.028912
col6             -0.000001
dtype: float64
const         18758.855232
UNIT_PRICE     -112.968318
year             -9.205937
sin365           -1.278590
month          4119.747797
cos365            0.200531
week             -1.006058
col1              0.157193
col2              0.055690
col3            -57.535363
col4             -2.063724
col5              0.028912
col6             -0.000001
dtype: float64
const         1.151928e+07
UNIT_PRICE   -7.734429e+05
year         -5.702686e+03
sin365       -1.215382e+01
month        -7.223938e+03
cos365       -1.674242e+01
week         -1.981973e-01
col1         -3.493625e+01
col2          3.829001e+02
col3          1.692601e+02
col4          3.836687e+00
col5         -9.731517e-02
col6          9.008551e-04
dtype: float64
const         1.151928e+07
UNIT_PRICE   -7.734429e+05
year         -5.702686e+03
sin365       -1.215382e+01
month        -7.223938e+03
cos365       -1.674242e+01
week         -1.981973e-01
col1         -3.493625e+01
col2          3.829001e+02
col3          1.692601e+02
col4          3.836687e+00
col5         -9.731517e-02
col6          9.008551e-04
dtype: float64
const         1.321072e+03
UNIT_PRICE   -1.313334e+00
year         -6.631764e-01
sin365        9.652508e-02
month        -1.924961e+03
cos365        3.844266e-01
week          3.766550e-01
col1         -1.085864e-02
col2          6.587026e-04
col3          2.843853e+01
col4          9.591171e-01
col5         -1.415642e-02
col6          5.779725e-08
dtype: float64
const         1.321072e+03
UNIT_PRICE   -1.313334e+00
year         -6.631764e-01
sin365        9.652508e-02
month        -1.924961e+03
cos365        3.844266e-01
week          3.766550e-01
col1         -1.085864e-02
col2          6.587026e-04
col3          2.843853e+01
col4          9.591171e-01
col5         -1.415642e-02
col6          5.779725e-08
dtype: float64
const         5.600993e+04
UNIT_PRICE   -1.326034e+02
year         -2.767868e+01
sin365       -4.460886e-01
month         4.085662e+03
cos365       -2.003571e+00
week          3.822289e-01
col1          5.322242e-02
col2          6.556459e-02
col3         -6.898283e+01
col4         -2.038650e+00
col5          3.444171e-02
col6         -5.029566e-07
dtype: float64
const         5.600993e+04
UNIT_PRICE   -1.326034e+02
year         -2.767868e+01
sin365       -4.460886e-01
month         4.085662e+03
cos365       -2.003571e+00
week          3.822289e-01
col1          5.322242e-02
col2          6.556459e-02
col3         -6.898283e+01
col4         -2.038650e+00
col5          3.444171e-02
col6         -5.029566e-07
dtype: float64
const        -3.201037e+04
UNIT_PRICE    5.290270e+01
year          1.585594e+01
sin365       -2.818868e-01
month        -2.129038e+03
cos365        7.477334e-01
week          1.306457e-01
col1         -2.163371e-02
col2         -2.620444e-02
col3          6.334215e+01
col4          1.060860e+00
col5         -3.147274e-02
col6          1.623078e-07
dtype: float64
const        -3.201037e+04
UNIT_PRICE    5.290270e+01
year          1.585594e+01
sin365       -2.818868e-01
month        -2.129038e+03
cos365        7.477334e-01
week          1.306457e-01
col1         -2.163371e-02
col2         -2.620444e-02
col3          6.334215e+01
col4          1.060860e+00
col5         -3.147274e-02
col6          1.623078e-07
dtype: float64
const        -1.877939e+04
UNIT_PRICE    1.284105e+02
year          9.306572e+00
sin365       -4.068378e-01
month        -2.222266e+03
cos365       -5.535795e-01
week          1.599048e-01
col1         -7.510938e-02
col2         -6.362840e-02
col3          3.907726e+01
col4          1.105591e+00
col5         -1.945518e-02
col6          7.105963e-07

dtype: float64
const        -1.877939e+04
UNIT_PRICE    1.284105e+02
year          9.306572e+00
sin365       -4.068378e-01
month        -2.222266e+03
cos365       -5.535795e-01
week          1.599048e-01
col1         -7.510938e-02
col2         -6.362840e-02
col3          3.907726e+01
col4          1.105591e+00
col5         -1.945518e-02
col6          7.105963e-07
dtype: float64
const         1.384787e+04
UNIT_PRICE   -8.546372e+01
year         -6.846206e+00
sin365       -5.101494e-01
month         1.126221e+03
cos365       -3.992930e-01
week         -4.232657e-01
col1          5.502080e-02
col2          4.227228e-02
col3         -3.485926e+01
col4         -5.625591e-01
col5          1.741465e-02
col6         -7.061723e-07
dtype: float64
const         1.384787e+04
UNIT_PRICE   -8.546372e+01
year         -6.846206e+00
sin365       -5.101494e-01
month         1.126221e+03
cos365       -3.992930e-01
week         -4.232657e-01
col1          5.502080e-02
col2          4.227228e-02
col3         -3.485926e+01
col4         -5.625591e-01
col5          1.741465e-02
col6         -7.061723e-07
dtype: float64
const        -1.340077e+04
UNIT_PRICE    2.356066e+01
year          6.642118e+00
sin365        3.387474e-01
month        -3.408010e+02
cos365       -8.421198e-03
week          6.552809e-02
col1          6.325316e-03
col2         -1.167754e-02
col3          1.040218e+01
col4          1.671143e-01
col5         -5.119918e-03
col6         -6.547640e-08
dtype: float64
const        -1.340077e+04
UNIT_PRICE    2.356066e+01
year          6.642118e+00
sin365        3.387474e-01
month        -3.408010e+02
cos365       -8.421198e-03
week          6.552809e-02
col1          6.325316e-03
col2         -1.167754e-02
col3          1.040218e+01
col4          1.671143e-01
col5         -5.119918e-03
col6         -6.547640e-08
dtype: float64
const        -1.702632e+04
UNIT_PRICE    4.087849e+01
year          8.435200e+00
sin365        2.182637e-01
month         2.859374e+03
cos365       -1.807288e+00
week          5.631745e-01
col1         -6.052173e-03
col2         -2.025529e-02
col3         -8.673666e+01
col4         -1.416296e+00
col5          4.295569e-02
col6          8.567904e-09
dtype: float64
const        -1.702632e+04
UNIT_PRICE    4.087849e+01
year          8.435200e+00
sin365        2.182637e-01
month         2.859374e+03
cos365       -1.807288e+00
week          5.631745e-01
col1         -6.052173e-03
col2         -2.025529e-02
col3         -8.673666e+01
col4         -1.416296e+00
col5          4.295569e-02
col6          8.567904e-09
dtype: float64
const        -2.136544e+04
UNIT_PRICE    6.771543e+01
year          1.060690e+01
sin365       -1.407860e+00
month         4.857131e+03
cos365       -1.156554e+00
week         -1.357382e+00
col1          4.436252e-02
col2         -3.370166e-02
col3         -1.102757e+02
col4         -2.406719e+00
col5          5.461966e-02
col6          1.361549e-07
dtype: float64
const        -2.136544e+04
UNIT_PRICE    6.771543e+01
year          1.060690e+01
sin365       -1.407860e+00
month         4.857131e+03
cos365       -1.156554e+00
week         -1.357382e+00
col1          4.436252e-02
col2         -3.370166e-02
col3         -1.102757e+02
col4         -2.406719e+00
col5          5.461966e-02
col6          1.361549e-07
dtype: float64
const        -2.925668e+03
UNIT_PRICE    1.261309e+01
year          1.463842e+00
sin365        6.549395e-01
month        -1.148386e+03
cos365       -1.101134e-02
week          2.179733e-01
col1          4.256715e-02
col2         -6.308739e-03
col3          3.320340e+01
col4          5.635304e-01
col5         -1.633738e-02
col6         -4.705758e-07
dtype: float64
const        -2.925668e+03
UNIT_PRICE    1.261309e+01
year          1.463842e+00
sin365        6.549395e-01
month        -1.148386e+03
cos365       -1.101134e-02
week          2.179733e-01
col1          4.256715e-02
col2         -6.308739e-03
col3          3.320340e+01
col4          5.635304e-01
col5         -1.633738e-02
col6         -4.705758e-07
dtype: float64
const        -6.370314e+04
UNIT_PRICE    5.820601e+01
year          3.154343e+01
sin365       -7.875619e-01
month        -2.711611e+03
cos365       -4.556410e+00
week         -9.177485e-01
col1         -4.016241e-02
col2         -2.882182e-02
col3          4.370152e+01
col4          1.365796e+00
col5         -2.183462e-02
col6          1.898393e-07
dtype: float64
const        -6.370314e+04
UNIT_PRICE    5.820601e+01
year          3.154343e+01
sin365       -7.875619e-01
month        -2.711611e+03
cos365       -4.556410e+00
week         -9.177485e-01
col1         -4.016241e-02
col2         -2.882182e-02
col3          4.370152e+01
col4          1.365796e+00
col5         -2.183462e-02
col6          1.898393e-07
dtype: float64
const        -1.994168e+03
UNIT_PRICE    1.033439e+00
year          9.940652e-01
sin365        1.037411e-01
month         8.254940e+01
cos365        9.060280e-02
week         -1.117665e-03
col1          1.813561e-03
col2         -5.154722e-04
col3         -1.724151e+00
col4         -4.225113e-02
col5          8.697132e-04
col6         -9.826364e-09
dtype: float64
const        -1.994168e+03
UNIT_PRICE    1.033439e+00
year          9.940652e-01
sin365        1.037411e-01
month         8.254940e+01
cos365        9.060280e-02
week         -1.117665e-03
col1          1.813561e-03
col2         -5.154722e-04
col3         -1.724151e+00
col4         -4.225113e-02
col5          8.697132e-04
col6         -9.826364e-09
dtype: float64
const        -4.765887e+04
UNIT_PRICE    4.527489e+01
year          2.378501e+01
sin365        3.730898e+00
month         3.815322e+03
cos365       -1.293734e+00
week          1.438401e+00
col1          2.225138e-01
col2         -2.344059e-02
col3         -1.041130e+01
col4         -1.910333e+00
col5          5.218707e-03
col6         -5.316513e-07
dtype: float64
const        -4.765887e+04
UNIT_PRICE    4.527489e+01
year          2.378501e+01
sin365        3.730898e+00
month         3.815322e+03
cos365       -1.293734e+00
week          1.438401e+00
col1          2.225138e-01
col2         -2.344059e-02
col3         -1.041130e+01
col4         -1.910333e+00
col5          5.218707e-03
col6         -5.316513e-07
dtype: float64
const            1.454299
UNIT_PRICE     116.341916
year            -0.315017
sin365          -0.692403
month        -5970.890376
cos365          -0.528917
week             1.915143
col1            -2.717678
col2            -0.053720
col3           102.359312
col4             3.064428
col5            -0.052837
col6             0.000026
dtype: float64
const            1.454299
UNIT_PRICE     116.341916
year            -0.315017
sin365          -0.692403
month        -5970.890376
cos365          -0.528917
week             1.915143
col1            -2.717678
col2            -0.053720
col3           102.359312
col4             3.064428
col5            -0.052837
col6             0.000026
dtype: float64
const         1.445049e+04
UNIT_PRICE   -1.499515e+02
year         -7.157019e+00
sin365        2.332740e-01
month        -3.127026e+03
cos365       -1.776760e-02
week         -2.264003e-03
col1         -9.892037e-02
col2          7.428102e-02
col3          5.356057e+01
col4          1.554004e+00
col5         -2.662278e-02
col6          8.851035e-07
dtype: float64
const         1.445049e+04
UNIT_PRICE   -1.499515e+02
year         -7.157019e+00
sin365        2.332740e-01
month        -3.127026e+03
cos365       -1.776760e-02
week         -2.264003e-03
col1         -9.892037e-02
col2          7.428102e-02
col3          5.356057e+01
col4          1.554004e+00
col5         -2.662278e-02
col6          8.851035e-07
dtype: float64
const        -106225.231528
UNIT_PRICE       908.442406
year              52.548523
sin365             2.056702
month          11521.516834
cos365             2.021120
week              -2.552507
col1              -0.516480
col2              -0.449272
col3            -208.943859
col4              -5.677074
col5               0.103261
col6               0.000003
dtype: float64
const        -106225.231528
UNIT_PRICE       908.442406
year              52.548523
sin365             2.056702
month          11521.516834
cos365             2.021120
week              -2.552507
col1              -0.516480
col2              -0.449272
col3            -208.943859
col4              -5.677074
col5               0.103261
col6               0.000003
dtype: float64
const        -1.007809e+04
UNIT_PRICE    3.302499e+01
year          4.993390e+00
sin365       -1.727019e-01
month        -2.281775e+03
cos365       -2.725678e-01
week         -7.988227e-02
col1         -3.863670e-03
col2         -1.635877e-02
col3          3.851482e+01
col4          1.131057e+00
col5         -1.907475e-02
col6          1.587253e-09
dtype: float64
const        -1.007809e+04
UNIT_PRICE    3.302499e+01
year          4.993390e+00
sin365       -1.727019e-01
month        -2.281775e+03
cos365       -2.725678e-01
week         -7.988227e-02
col1         -3.863670e-03
col2         -1.635877e-02
col3          3.851482e+01
col4          1.131057e+00
col5         -1.907475e-02
col6          1.587253e-09
dtype: float64
const        -3.449329e+04
UNIT_PRICE    4.133873e+01
year          1.712983e+01
sin365       -2.286796e+00
month         2.773945e+03
cos365        1.102854e+00
week         -1.377266e+00
col1          4.820755e-02
col2         -2.054767e-02
col3         -4.825627e+01
col4         -1.385940e+00
col5          2.416987e-02
col6         -4.276955e-07
dtype: float64
const        -3.449329e+04
UNIT_PRICE    4.133873e+01
year          1.712983e+01
sin365       -2.286796e+00
month         2.773945e+03
cos365        1.102854e+00
week         -1.377266e+00
col1          4.820755e-02
col2         -2.054767e-02
col3         -4.825627e+01
col4         -1.385940e+00
col5          2.416987e-02
col6         -4.276955e-07
dtype: float64
const        -5.893379e+03
UNIT_PRICE    1.977323e-02
year          2.942709e+00
sin365        1.943418e-01
month         1.452486e+03
cos365       -2.032597e-01
week          2.062906e-01
col1          1.800740e-02
col2         -4.680509e-05
col3         -2.262307e+01
col4         -7.251565e-01
col5          1.127896e-02
col6         -1.251514e-07

dtype: float64
const        -5.893379e+03
UNIT_PRICE    1.977323e-02
year          2.942709e+00
sin365        1.943418e-01
month         1.452486e+03
cos365       -2.032597e-01
week          2.062906e-01
col1          1.800740e-02
col2         -4.680509e-05
col3         -2.262307e+01
col4         -7.251565e-01
col5          1.127896e-02
col6         -1.251514e-07
dtype: float64
const          -5.455196
UNIT_PRICE   -327.257230
year            0.002703
sin365         -1.190868
month          -0.597982
cos365         -1.125375
week           -0.012590
col1          -35.872959
col2            0.162162
col3          129.892740
col4            1.066677
col5           -0.000019
col6           -0.001072
dtype: float64
const          -5.455196
UNIT_PRICE   -327.257230
year            0.002703
sin365         -1.190868
month          -0.597982
cos365         -1.125375
week           -0.012590
col1          -35.872959
col2            0.162162
col3          129.892740
col4            1.066677
col5           -0.000019
col6           -0.001072
dtype: float64
const        -1.456930e+05
UNIT_PRICE    4.775389e+02
year          7.237667e+01
sin365       -4.878652e+00
month        -2.317342e+03
cos365        4.116138e-01
week         -3.778258e-01
col1          2.215236e-01
col2         -2.372558e-01
col3          1.127757e+02
col4          1.117244e+00
col5         -5.559795e-02
col6         -9.759976e-07
dtype: float64
const        -1.456930e+05
UNIT_PRICE    4.775389e+02
year          7.237667e+01
sin365       -4.878652e+00
month        -2.317342e+03
cos365        4.116138e-01
week         -3.778258e-01
col1          2.215236e-01
col2         -2.372558e-01
col3          1.127757e+02
col4          1.117244e+00
col5         -5.559795e-02
col6         -9.759976e-07
dtype: float64
const        -1.850742e+04
UNIT_PRICE    7.019149e+01
year          9.170889e+00
sin365        1.550566e-01
month        -6.378261e+01
cos365       -1.564309e+00
week         -1.144844e-01
col1          1.434778e-02
col2         -3.478106e-02
col3          7.122687e+00
col4          3.010084e-02
col5         -3.482798e-03
col6         -1.801671e-07
dtype: float64
const        -1.850742e+04
UNIT_PRICE    7.019149e+01
year          9.170889e+00
sin365        1.550566e-01
month        -6.378261e+01
cos365       -1.564309e+00
week         -1.144844e-01
col1          1.434778e-02
col2         -3.478106e-02
col3          7.122687e+00
col4          3.010084e-02
col5         -3.482798e-03
col6         -1.801671e-07
dtype: float64
const        -4.917608e+03
UNIT_PRICE    2.533631e+01
year          2.442201e+00
sin365        1.666325e-02
month        -2.019191e+03
cos365       -4.541239e-01
week         -3.422164e-01
col1          6.865182e-03
col2         -1.255875e-02
col3          2.310970e+01
col4          9.986934e-01
col5         -1.141698e-02
col6         -4.320068e-08
dtype: float64
const        -4.917608e+03
UNIT_PRICE    2.533631e+01
year          2.442201e+00
sin365        1.666325e-02
month        -2.019191e+03
cos365       -4.541239e-01
week         -3.422164e-01
col1          6.865182e-03
col2         -1.255875e-02
col3          2.310970e+01
col4          9.986934e-01
col5         -1.141698e-02
col6         -4.320068e-08
dtype: float64
const        -9.758451e+03
UNIT_PRICE    1.162177e+01
year          4.843336e+00
sin365       -4.286293e-01
month         1.107318e+03
cos365        1.102852e-01
week          1.075923e-03
col1          1.774514e-02
col2         -5.777029e-03
col3         -2.004070e+01
col4         -5.524531e-01
col5          1.000520e-02
col6         -1.715832e-07
dtype: float64
const        -9.758451e+03
UNIT_PRICE    1.162177e+01
year          4.843336e+00
sin365       -4.286293e-01
month         1.107318e+03
cos365        1.102852e-01
week          1.075923e-03
col1          1.774514e-02
col2         -5.777029e-03
col3         -2.004070e+01
col4         -5.524531e-01
col5          1.000520e-02
col6         -1.715832e-07
dtype: float64
const        -15085.628968
UNIT_PRICE       93.624725
year              7.577747
sin365           -0.745217
month         -1711.919230
cos365           -0.467048
week              0.751759
col1              0.383055
col2             -0.046991
col3             16.989445
col4              0.814896
col5             -0.007900
col6             -0.000003
dtype: float64
const        -15085.628968
UNIT_PRICE       93.624725
year              7.577747
sin365           -0.745217
month         -1711.919230
cos365           -0.467048
week              0.751759
col1              0.383055
col2             -0.046991
col3             16.989445
col4              0.814896
col5             -0.007900
col6             -0.000003
dtype: float64
const         3.610634e+04
UNIT_PRICE   -2.092938e+01
year         -1.781421e+01
sin365       -5.516270e-02
month         1.504167e+03
cos365       -7.695914e-01
week         -1.735143e-02
col1          2.210711e-02
col2          1.032976e-02
col3         -2.815462e+01
col4         -7.654306e-01
col5          1.425043e-02
col6         -1.638668e-07
dtype: float64
const         3.610634e+04
UNIT_PRICE   -2.092938e+01
year         -1.781421e+01
sin365       -5.516270e-02
month         1.504167e+03
cos365       -7.695914e-01
week         -1.735143e-02
col1          2.210711e-02
col2          1.032976e-02
col3         -2.815462e+01
col4         -7.654306e-01
col5          1.425043e-02
col6         -1.638668e-07
dtype: float64
const         3.808548e+03
UNIT_PRICE   -4.947463e+00
year         -1.886903e+00
sin365       -1.066480e-01
month         5.914087e+02
cos365        3.450783e-01
week         -1.681701e-02
col1         -4.388150e-04
col2          2.451067e-03
col3         -7.469572e+00
col4         -2.925256e-01
col5          3.703606e-03
col6         -3.977303e-09
dtype: float64
const         3.808548e+03
UNIT_PRICE   -4.947463e+00
year         -1.886903e+00
sin365       -1.066480e-01
month         5.914087e+02
cos365        3.450783e-01
week         -1.681701e-02
col1         -4.388150e-04
col2          2.451067e-03
col3         -7.469572e+00
col4         -2.925256e-01
col5          3.703606e-03
col6         -3.977303e-09
dtype: float64
const         1.708657e+04
UNIT_PRICE   -3.113220e+00
year         -8.333402e+00
sin365       -6.844404e-01
month        -6.891908e+03
cos365       -2.228146e-01
week          1.945617e+00
col1          1.163830e-01
col2          1.179443e-03
col3          1.213194e+02
col4          3.390885e+00
col5         -5.996730e-02
col6         -4.712816e-07
dtype: float64
const         1.708657e+04
UNIT_PRICE   -3.113220e+00
year         -8.333402e+00
sin365       -6.844404e-01
month        -6.891908e+03
cos365       -2.228146e-01
week          1.945617e+00
col1          1.163830e-01
col2          1.179443e-03
col3          1.213194e+02
col4          3.390885e+00
col5         -5.996730e-02
col6         -4.712816e-07
dtype: float64
const        -6.307117e+03
UNIT_PRICE    2.264656e+01
year          3.128865e+00
sin365        2.188941e-01
month        -1.462154e+03
cos365       -1.116930e+00
week          6.745625e-02
col1          1.370318e-02
col2         -1.123014e-02
col3          4.066281e+01
col4          7.221273e-01
col5         -2.007914e-02
col6         -2.221129e-07
dtype: float64
const        -6.307117e+03
UNIT_PRICE    2.264656e+01
year          3.128865e+00
sin365        2.188941e-01
month        -1.462154e+03
cos365       -1.116930e+00
week          6.745625e-02
col1          1.370318e-02
col2         -1.123014e-02
col3          4.066281e+01
col4          7.221273e-01
col5         -2.007914e-02
col6         -2.221129e-07
dtype: float64
const         5.952421e+03
UNIT_PRICE   -1.670217e+01
year         -2.958234e+00
sin365        7.436257e-02
month         8.891466e+02
cos365       -1.680562e+00
week         -1.182450e-01
col1         -9.621454e-03
col2          8.294350e-03
col3         -3.399159e+01
col4         -4.379518e-01
col5          1.681790e-02
col6          4.685247e-08
dtype: float64
const         5.952421e+03
UNIT_PRICE   -1.670217e+01
year         -2.958234e+00
sin365        7.436257e-02
month         8.891466e+02
cos365       -1.680562e+00
week         -1.182450e-01
col1         -9.621454e-03
col2          8.294350e-03
col3         -3.399159e+01
col4         -4.379518e-01
col5          1.681790e-02
col6          4.685247e-08
dtype: float64
const        -52804.099528
UNIT_PRICE      365.589096
year             26.894365
sin365           -0.063149
month         -4893.893090
cos365           -3.480968
week              4.232741
col1              5.734810
col2             -0.189441
col3            136.188600
col4              2.163217
col5             -0.062445
col6             -0.000056
dtype: float64
const        -52804.099528
UNIT_PRICE      365.589096
year             26.894365
sin365           -0.063149
month         -4893.893090
cos365           -3.480968
week              4.232741
col1              5.734810
col2             -0.189441
col3            136.188600
col4              2.163217
col5             -0.062445
col6             -0.000056
dtype: float64
const        -2.403918e+04
UNIT_PRICE    4.969557e+01
year          1.190707e+01
sin365        1.565860e-01
month        -6.947127e+02
cos365       -9.638023e-01
week         -1.800691e-01
col1          1.509607e-02
col2         -2.461373e-02
col3          1.644585e+01
col4          3.410430e-01
col5         -7.996973e-03
col6         -3.295093e-07
dtype: float64
const        -2.403918e+04
UNIT_PRICE    4.969557e+01
year          1.190707e+01
sin365        1.565860e-01
month        -6.947127e+02
cos365       -9.638023e-01
week         -1.800691e-01
col1          1.509607e-02
col2         -2.461373e-02
col3          1.644585e+01
col4          3.410430e-01
col5         -7.996973e-03
col6         -3.295093e-07
dtype: float64
const        -1.411075e+04
UNIT_PRICE    2.749901e+01
year          6.989286e+00
sin365       -5.169109e-01
month        -3.925395e+02
cos365       -2.492806e-01
week         -2.493222e-01
col1          4.864597e-03
col2         -1.361854e-02
col3          7.344340e+00
col4          1.937128e-01
col5         -3.581565e-03
col6         -1.157254e-07
dtype: float64
const        -1.411075e+04
UNIT_PRICE    2.749901e+01
year          6.989286e+00
sin365       -5.169109e-01
month        -3.925395e+02
cos365       -2.492806e-01
week         -2.493222e-01
col1          4.864597e-03
col2         -1.361854e-02
col3          7.344340e+00
col4          1.937128e-01
col5         -3.581565e-03
col6         -1.157254e-07
dtype: float64

const        -120817.681677
UNIT_PRICE       529.723591
year              59.935550
sin365             1.726665
month            381.600894
cos365             3.445192
week               0.791206
col1               0.215944
col2              -0.262846
col3             -26.544061
col4              -0.212123
col5               0.013519
col6              -0.000002
dtype: float64
const        -120817.681677
UNIT_PRICE       529.723591
year              59.935550
sin365             1.726665
month            381.600894
cos365             3.445192
week               0.791206
col1               0.215944
col2              -0.262846
col3             -26.544061
col4              -0.212123
col5               0.013519
col6              -0.000002
dtype: float64
const         1.548393e+04
UNIT_PRICE   -1.331941e+01
year         -7.663040e+00
sin365        9.512960e-01
month         1.163597e+03
cos365       -5.415977e-02
week         -1.489575e-01
col1          1.798610e-03
col2          6.592551e-03
col3         -1.850300e+01
col4         -5.769235e-01
col5          9.195981e-03
col6         -2.717773e-08
dtype: float64
const         1.548393e+04
UNIT_PRICE   -1.331941e+01
year         -7.663040e+00
sin365        9.512960e-01
month         1.163597e+03
cos365       -5.415977e-02
week         -1.489575e-01
col1          1.798610e-03
col2          6.592551e-03
col3         -1.850300e+01
col4         -5.769235e-01
col5          9.195981e-03
col6         -2.717773e-08
dtype: float64
const        -1.253263e+04
UNIT_PRICE    1.252633e+02
year          6.213769e+00
sin365       -1.772305e+00
month        -6.064917e+03
cos365       -1.301709e+00
week          1.120883e+00
col1          5.129374e-02
col2         -6.207618e-02
col3          1.410682e+02
col4          2.997705e+00
col5         -6.977027e-02
col6         -7.143769e-07
dtype: float64
const        -1.253263e+04
UNIT_PRICE    1.252633e+02
year          6.213769e+00
sin365       -1.772305e+00
month        -6.064917e+03
cos365       -1.301709e+00
week          1.120883e+00
col1          5.129374e-02
col2         -6.207618e-02
col3          1.410682e+02
col4          2.997705e+00
col5         -6.977027e-02
col6         -7.143769e-07
dtype: float64
const        -8.176064e+03
UNIT_PRICE    1.770493e+01
year          4.045269e+00
sin365       -2.738481e-01
month        -8.067395e+02
cos365       -2.665317e-02
week          2.119447e-01
col1         -7.761706e-03
col2         -8.758940e-03
col3          1.481512e+01
col4          4.011905e-01
col5         -7.361589e-03
col6          4.127622e-08
dtype: float64
const        -8.176064e+03
UNIT_PRICE    1.770493e+01
year          4.045269e+00
sin365       -2.738481e-01
month        -8.067395e+02
cos365       -2.665317e-02
week          2.119447e-01
col1         -7.761706e-03
col2         -8.758940e-03
col3          1.481512e+01
col4          4.011905e-01
col5         -7.361589e-03
col6          4.127622e-08
dtype: float64
const        -1.410392e+04
UNIT_PRICE    7.803592e+00
year          6.997626e+00
sin365        2.531270e-01
month         2.433336e+03
cos365       -4.585710e-01
week         -1.371225e-01
col1          4.150303e-03
col2         -3.880799e-03
col3         -3.505650e+01
col4         -1.205912e+00
col5          1.737736e-02
col6         -2.887959e-08
dtype: float64
const        -1.410392e+04
UNIT_PRICE    7.803592e+00
year          6.997626e+00
sin365        2.531270e-01
month         2.433336e+03
cos365       -4.585710e-01
week         -1.371225e-01
col1          4.150303e-03
col2         -3.880799e-03
col3         -3.505650e+01
col4         -1.205912e+00
col5          1.737736e-02
col6         -2.887959e-08
dtype: float64
const        -2.601982e+04
UNIT_PRICE    1.264605e+02
year          1.289693e+01
sin365        4.558055e-01
month        -3.070627e+03
cos365       -2.165297e+00
week         -6.143133e-01
col1          7.737740e-02
col2         -6.270429e-02
col3          6.588253e+01
col4          1.516749e+00
col5         -3.249296e-02
col6         -9.565646e-07
dtype: float64
const        -2.601982e+04
UNIT_PRICE    1.264605e+02
year          1.289693e+01
sin365        4.558055e-01
month        -3.070627e+03
cos365       -2.165297e+00
week         -6.143133e-01
col1          7.737740e-02
col2         -6.270429e-02
col3          6.588253e+01
col4          1.516749e+00
col5         -3.249296e-02
col6         -9.565646e-07
dtype: float64
const        -1.650115e+04
UNIT_PRICE    9.198494e+00
year          8.159707e+00
sin365        4.423508e-01
month         6.561904e+02
cos365       -5.872352e-01
week          1.795320e-02
col1         -4.532636e-03
col2         -4.530213e-03
col3          2.861048e+01
col4         -3.236492e-01
col5         -1.415640e-02
col6         -4.414769e-08
dtype: float64
const        -1.650115e+04
UNIT_PRICE    9.198494e+00
year          8.159707e+00
sin365        4.423508e-01
month         6.561904e+02
cos365       -5.872352e-01
week          1.795320e-02
col1         -4.532636e-03
col2         -4.530213e-03
col3          2.861048e+01
col4         -3.236492e-01
col5         -1.415640e-02
col6         -4.414769e-08
dtype: float64
const        -5.938157e+04
UNIT_PRICE    2.766353e+02
year          2.938207e+01
sin365        1.826776e-01
month        -3.102590e+03
cos365       -6.160252e-01
week          3.373225e-01
col1         -7.939253e-02
col2         -1.368747e-01
col3          6.617655e+01
col4          1.544380e+00
col5         -3.288474e-02
col6          5.087562e-07
dtype: float64
const        -5.938157e+04
UNIT_PRICE    2.766353e+02
year          2.938207e+01
sin365        1.826776e-01
month        -3.102590e+03
cos365       -6.160252e-01
week          3.373225e-01
col1         -7.939253e-02
col2         -1.368747e-01
col3          6.617655e+01
col4          1.544380e+00
col5         -3.288474e-02
col6          5.087562e-07
dtype: float64
const        -6.871589e+04
UNIT_PRICE    5.011889e+02
year          3.402258e+01
sin365       -9.360613e-01
month        -4.756665e+03
cos365        2.312993e-01
week          8.073444e-01
col1         -1.824366e-03
col2         -2.481400e-01
col3          1.211011e+02
col4          2.354841e+00
col5         -5.991690e-02
col6         -6.098989e-07
dtype: float64
const        -6.871589e+04
UNIT_PRICE    5.011889e+02
year          3.402258e+01
sin365       -9.360613e-01
month        -4.756665e+03
cos365        2.312993e-01
week          8.073444e-01
col1         -1.824366e-03
col2         -2.481400e-01
col3          1.211011e+02
col4          2.354841e+00
col5         -5.991690e-02
col6         -6.098989e-07
dtype: float64
const         7329.407089
UNIT_PRICE     -83.156334
year            -3.614074
sin365          -1.195167
month        -9292.340559
cos365          -2.486699
week             1.323308
col1             0.166790
col2             0.041019
col3           187.420873
col4             4.592728
col5            -0.092685
col6            -0.000002
dtype: float64
const         7329.407089
UNIT_PRICE     -83.156334
year            -3.614074
sin365          -1.195167
month        -9292.340559
cos365          -2.486699
week             1.323308
col1             0.166790
col2             0.041019
col3           187.420873
col4             4.592728
col5            -0.092685
col6            -0.000002
dtype: float64
const        -7.494599e+03
UNIT_PRICE    2.496315e+01
year          3.723767e+00
sin365        3.434569e-02
month        -8.050433e+03
cos365        3.447177e-01
week         -9.607100e-03
col1         -2.045608e-02
col2         -1.237791e-02
col3          1.521964e+02
col4          3.993299e+00
col5         -7.541771e-02
col6          7.783659e-08
dtype: float64
const        -7.494599e+03
UNIT_PRICE    2.496315e+01
year          3.723767e+00
sin365        3.434569e-02
month        -8.050433e+03
cos365        3.447177e-01
week         -9.607100e-03
col1         -2.045608e-02
col2         -1.237791e-02
col3          1.521964e+02
col4          3.993299e+00
col5         -7.541771e-02
col6          7.783659e-08
dtype: float64
const         3.408346e+04
UNIT_PRICE   -4.246835e+01
year         -1.683693e+01
sin365       -5.967961e-01
month         1.794083e+03
cos365       -5.753058e-01
week          2.958898e-01
col1          2.793121e-02
col2          2.098656e-02
col3         -5.193126e+01
col4         -9.016990e-01
col5          2.601046e-02
col6         -3.176585e-07
dtype: float64
const         3.408346e+04
UNIT_PRICE   -4.246835e+01
year         -1.683693e+01
sin365       -5.967961e-01
month         1.794083e+03
cos365       -5.753058e-01
week          2.958898e-01
col1          2.793121e-02
col2          2.098656e-02
col3         -5.193126e+01
col4         -9.016990e-01
col5          2.601046e-02
col6         -3.176585e-07
dtype: float64
const        -154083.187329
UNIT_PRICE      1454.551685
year              76.307754
sin365            -2.185158
month         -12254.337862
cos365            -1.536185
week               1.511093
col1               0.240505
col2              -0.720366
col3             259.282955
col4               6.052986
col5              -0.128045
col6              -0.000003

dtype: float64
const        -154083.187329
UNIT_PRICE      1454.551685
year              76.307754
sin365            -2.185158
month         -12254.337862
cos365            -1.536185
week               1.511093
col1               0.240505
col2              -0.720366
col3             259.282955
col4               6.052986
col5              -0.128045
col6              -0.000003
dtype: float64
const        -280558.069683
UNIT_PRICE      1410.966433
year             138.870965
sin365            -0.023955
month            577.993807
cos365             0.158523
week              -0.187540
col1               0.112688
col2              -0.698383
col3              -0.188977
col4              -0.296486
col5               0.000342
col6              -0.000001
dtype: float64
const        -280558.069683
UNIT_PRICE      1410.966433
year             138.870965
sin365            -0.023955
month            577.993807
cos365             0.158523
week              -0.187540
col1               0.112688
col2              -0.698383
col3              -0.188977
col4              -0.296486
col5               0.000342
col6              -0.000001
dtype: float64
const         23702.663101
UNIT_PRICE      -74.158798
year            -11.622120
sin365           -0.171443
month         -2293.242406
cos365           -1.887929
week             -1.210984
col1              0.181185
col2              0.036385
col3             87.283870
col4              1.108225
col5             -0.042541
col6             -0.000002
dtype: float64
const         23702.663101
UNIT_PRICE      -74.158798
year            -11.622120
sin365           -0.171443
month         -2293.242406
cos365           -1.887929
week             -1.210984
col1              0.181185
col2              0.036385
col3             87.283870
col4              1.108225
col5             -0.042541
col6             -0.000002
dtype: float64
const        -4.924371e+04
UNIT_PRICE    2.386523e+02
year          2.433163e+01
sin365        1.431381e-01
month        -2.110370e+02
cos365       -4.008066e-01
week          8.767300e-02
col1         -1.488202e-01
col2         -1.178978e-01
col3          3.616402e+00
col4          1.189131e-01
col5         -1.974950e-03
col6          9.154262e-07
dtype: float64
const        -4.924371e+04
UNIT_PRICE    2.386523e+02
year          2.433163e+01
sin365        1.431381e-01
month        -2.110370e+02
cos365       -4.008066e-01
week          8.767300e-02
col1         -1.488202e-01
col2         -1.178978e-01
col3          3.616402e+00
col4          1.189131e-01
col5         -1.974950e-03
col6          9.154262e-07
dtype: float64
const        -4.866032e+04
UNIT_PRICE    1.833259e+02
year          2.407909e+01
sin365        1.086454e+00
month        -3.854856e+03
cos365       -5.699936e-01
week          3.878674e-01
col1         -3.119023e-02
col2         -9.071389e-02
col3          8.073282e+01
col4          1.912010e+00
col5         -3.998608e-02
col6          5.965021e-08
dtype: float64
const        -4.866032e+04
UNIT_PRICE    1.833259e+02
year          2.407909e+01
sin365        1.086454e+00
month        -3.854856e+03
cos365       -5.699936e-01
week          3.878674e-01
col1         -3.119023e-02
col2         -9.071389e-02
col3          8.073282e+01
col4          1.912010e+00
col5         -3.998608e-02
col6          5.965021e-08
dtype: float64
const        -9.676133e+03
UNIT_PRICE    1.175763e+01
year          4.786256e+00
sin365       -1.432889e-01
month         1.847742e+03
cos365       -4.656973e-01
week         -4.724398e-01
col1         -8.077837e-03
col2         -5.801861e-03
col3         -5.535323e+01
col4         -9.132491e-01
col5          2.743280e-02
col6         -2.147832e-08
dtype: float64
const        -9.676133e+03
UNIT_PRICE    1.175763e+01
year          4.786256e+00
sin365       -1.432889e-01
month         1.847742e+03
cos365       -4.656973e-01
week         -4.724398e-01
col1         -8.077837e-03
col2         -5.801861e-03
col3         -5.535323e+01
col4         -9.132491e-01
col5          2.743280e-02
col6         -2.147832e-08
dtype: float64
const         141515.780687
UNIT_PRICE      -415.860872
year             -69.939003
sin365             1.425562
month         -15876.984316
cos365             0.156418
week               1.190942
col1               0.302386
col2               0.205396
col3             263.268857
col4               7.822877
col5              -0.129649
col6              -0.000003
dtype: float64
const         141515.780687
UNIT_PRICE      -415.860872
year             -69.939003
sin365             1.425562
month         -15876.984316
cos365             0.156418
week               1.190942
col1               0.302386
col2               0.205396
col3             263.268857
col4               7.822877
col5              -0.129649
col6              -0.000003
dtype: float64
const        -2.197124e+05
UNIT_PRICE    3.747028e+02
year          1.086937e+02
sin365       -1.218596e-01
month         2.086597e+03
cos365       -3.206169e-01
week         -1.253946e-01
col1         -6.467853e-02
col2         -1.853664e-01
col3         -9.718212e+01
col4         -1.014301e+00
col5          4.785444e-02
col6          4.577443e-07
dtype: float64
const        -2.197124e+05
UNIT_PRICE    3.747028e+02
year          1.086937e+02
sin365       -1.218596e-01
month         2.086597e+03
cos365       -3.206169e-01
week         -1.253946e-01
col1         -6.467853e-02
col2         -1.853664e-01
col3         -9.718212e+01
col4         -1.014301e+00
col5          4.785444e-02
col6          4.577443e-07
dtype: float64
const        -11564.780861
UNIT_PRICE      339.612604
year              5.692803
sin365          -15.267102
month        -16664.847774
cos365           -8.193832
week             -5.755293
col1             -0.697934
col2             -0.167841
col3            197.125227
col4              8.300550
col5             -0.098144
col6              0.000005
dtype: float64
const        -11564.780861
UNIT_PRICE      339.612604
year              5.692803
sin365          -15.267102
month        -16664.847774
cos365           -8.193832
week             -5.755293
col1             -0.697934
col2             -0.167841
col3            197.125227
col4              8.300550
col5             -0.098144
col6              0.000005
dtype: float64
const         3.580200e+04
UNIT_PRICE   -3.149737e+02
year         -1.770536e+01
sin365        1.297187e+00
month         3.494206e+02
cos365       -8.439521e-01
week          7.288719e-01
col1         -7.893257e-03
col2          1.557765e-01
col3          9.410754e+00
col4         -1.721982e-01
col5         -4.671301e-03
col6         -1.639303e-07
dtype: float64
const         3.580200e+04
UNIT_PRICE   -3.149737e+02
year         -1.770536e+01
sin365        1.297187e+00
month         3.494206e+02
cos365       -8.439521e-01
week          7.288719e-01
col1         -7.893257e-03
col2          1.557765e-01
col3          9.410754e+00
col4         -1.721982e-01
col5         -4.671301e-03
col6         -1.639303e-07
dtype: float64
const        -129240.077377
UNIT_PRICE      2734.339006
year              64.126260
sin365             2.965786
month           9091.385616
cos365             2.734673
week               0.150989
col1               4.164427
col2              -1.358038
col3            -203.791102
col4              -4.565942
col5               0.102311
col6              -0.000044
dtype: float64
const        -129240.077377
UNIT_PRICE      2734.339006
year              64.126260
sin365             2.965786
month           9091.385616
cos365             2.734673
week               0.150989
col1               4.164427
col2              -1.358038
col3            -203.791102
col4              -4.565942
col5               0.102311
col6              -0.000044
dtype: float64
const            0.102451
UNIT_PRICE      20.465201
year             0.234233
sin365           0.885843
month        -5885.027356
cos365          -0.814168
week            -0.281602
col1             0.823072
col2            -0.011297
col3           118.588061
col4             2.833714
col5            -0.057155
col6            -0.000008
dtype: float64
const            0.102451
UNIT_PRICE      20.465201
year             0.234233
sin365           0.885843
month        -5885.027356
cos365          -0.814168
week            -0.281602
col1             0.823072
col2            -0.011297
col3           118.588061
col4             2.833714
col5            -0.057155
col6            -0.000008
dtype: float64
const        -7.437269e+04
UNIT_PRICE    5.558932e+02
year          3.683951e+01
sin365        1.660786e+00
month        -1.462463e+04
cos365       -5.629548e-01
week          1.353290e+00
col1         -6.968266e-02
col2         -2.753211e-01
col3          2.791194e+02
col4          7.245092e+00
col5         -1.382676e-01
col6          2.698849e-07

dtype: float64
const        -7.437269e+04
UNIT_PRICE    5.558932e+02
year          3.683951e+01
sin365        1.660786e+00
month        -1.462463e+04
cos365       -5.629548e-01
week          1.353290e+00
col1         -6.968266e-02
col2         -2.753211e-01
col3          2.791194e+02
col4          7.245092e+00
col5         -1.382676e-01
col6          2.698849e-07
dtype: float64
const        -6.218688e+04
UNIT_PRICE    5.780500e+01
year          3.079506e+01
sin365        2.183347e-02
month         1.333863e+03
cos365        3.892187e-01
week          1.715353e-01
col1          5.880320e-03
col2         -2.862574e-02
col3         -2.382326e+01
col4         -6.633044e-01
col5          1.187702e-02
col6         -8.694314e-08
dtype: float64
const        -6.218688e+04
UNIT_PRICE    5.780500e+01
year          3.079506e+01
sin365        2.183347e-02
month         1.333863e+03
cos365        3.892187e-01
week          1.715353e-01
col1          5.880320e-03
col2         -2.862574e-02
col3         -2.382326e+01
col4         -6.633044e-01
col5          1.187702e-02
col6         -8.694314e-08
dtype: float64
const            -0.029908
UNIT_PRICE        0.048958
year            -58.723321
sin365           -0.536259
month         20234.869433
cos365            0.118849
week              0.067347
col1            -15.334156
col2              0.045149
col3             -5.661696
col4             -0.149017
col5             -0.141769
col6              0.000111
dtype: float64
const            -0.029908
UNIT_PRICE        0.048958
year            -58.723321
sin365           -0.536259
month         20234.869433
cos365            0.118849
week              0.067347
col1            -15.334156
col2              0.045149
col3             -5.661696
col4             -0.149017
col5             -0.141769
col6              0.000111
dtype: float64
const         5.571742e+04
UNIT_PRICE   -1.846387e+02
year         -2.756578e+01
sin365       -7.840787e-01
month        -6.022127e+02
cos365       -3.808389e-01
week          6.766118e-02
col1          5.380807e-02
col2          9.135003e-02
col3          9.233969e+00
col4          2.903115e-01
col5         -4.376159e-03
col6         -6.707569e-07
dtype: float64
const         5.571742e+04
UNIT_PRICE   -1.846387e+02
year         -2.756578e+01
sin365       -7.840787e-01
month        -6.022127e+02
cos365       -3.808389e-01
week          6.766118e-02
col1          5.380807e-02
col2          9.135003e-02
col3          9.233969e+00
col4          2.903115e-01
col5         -4.376159e-03
col6         -6.707569e-07
dtype: float64
const         9.417617e+04
UNIT_PRICE   -3.595148e+01
year         -4.664159e+01
sin365       -6.567698e-01
month        -2.564542e+04
cos365       -6.499274e-01
week          5.424134e-01
col1         -2.633560e-02
col2          1.781224e-02
col3          7.944968e+02
col4          1.271352e+01
col5         -3.939295e-01
col6          4.225649e-07
dtype: float64
const         9.417617e+04
UNIT_PRICE   -3.595148e+01
year         -4.664159e+01
sin365       -6.567698e-01
month        -2.564542e+04
cos365       -6.499274e-01
week          5.424134e-01
col1         -2.633560e-02
col2          1.781224e-02
col3          7.944968e+02
col4          1.271352e+01
col5         -3.939295e-01
col6          4.225649e-07
dtype: float64
const        -1.860540e+04
UNIT_PRICE    6.855371e+00
year          9.218592e+00
sin365       -3.032062e-01
month         1.646115e+03
cos365       -2.003196e-03
week          3.280148e-01
col1          3.907553e-03
col2         -3.397052e-03
col3         -3.084490e+01
col4         -8.197859e-01
col5          1.535361e-02
col6         -3.851107e-08
dtype: float64
const        -1.860540e+04
UNIT_PRICE    6.855371e+00
year          9.218592e+00
sin365       -3.032062e-01
month         1.646115e+03
cos365       -2.003196e-03
week          3.280148e-01
col1          3.907553e-03
col2         -3.397052e-03
col3         -3.084490e+01
col4         -8.197859e-01
col5          1.535361e-02
col6         -3.851107e-08
dtype: float64
const        -4.702454e-03
UNIT_PRICE   -5.642897e+00
year          2.327947e-06
sin365       -1.384117e-01
month         1.506008e-03
cos365        3.307953e-01
week         -5.390341e-01
col1          1.807194e+00
col2          2.793751e-03
col3         -4.252587e+01
col4         -1.072485e+00
col5          8.062539e-08
col6          1.754911e-05
dtype: float64
const        -4.702454e-03
UNIT_PRICE   -5.642897e+00
year          2.327947e-06
sin365       -1.384117e-01
month         1.506008e-03
cos365        3.307953e-01
week         -5.390341e-01
col1          1.807194e+00
col2          2.793751e-03
col3         -4.252587e+01
col4         -1.072485e+00
col5          8.062539e-08
col6          1.754911e-05
dtype: float64
const         1.358365e+06
UNIT_PRICE   -5.434996e+03
year         -6.721242e+02
sin365        3.757956e-01
month         2.601461e+02
cos365       -2.501893e-03
week          1.325739e-01
col1         -7.911854e-02
col2          2.689262e+00
col3         -6.747592e+00
col4         -1.193441e-01
col5          2.701952e-03
col6          2.558215e-06
dtype: float64
const         1.358365e+06
UNIT_PRICE   -5.434996e+03
year         -6.721242e+02
sin365        3.757956e-01
month         2.601461e+02
cos365       -2.501893e-03
week          1.325739e-01
col1         -7.911854e-02
col2          2.689262e+00
col3         -6.747592e+00
col4         -1.193441e-01
col5          2.701952e-03
col6          2.558215e-06
dtype: float64
const         3.511828e+04
UNIT_PRICE   -4.316601e+01
year         -1.737672e+01
sin365        3.137704e-02
month        -6.261662e+03
cos365       -3.311581e-01
week          1.832822e-01
col1         -1.726122e-02
col2          2.135655e-02
col3          1.140866e+02
col4          3.104376e+00
col5         -5.658724e-02
col6          1.890735e-07
dtype: float64
const         3.511828e+04
UNIT_PRICE   -4.316601e+01
year         -1.737672e+01
sin365        3.137704e-02
month        -6.261662e+03
cos365       -3.311581e-01
week          1.832822e-01
col1         -1.726122e-02
col2          2.135655e-02
col3          1.140866e+02
col4          3.104376e+00
col5         -5.658724e-02
col6          1.890735e-07
dtype: float64
const        -3.694667e+04
UNIT_PRICE    3.303283e+01
year          1.828883e+01
sin365        2.043042e-01
month         1.931261e+02
cos365       -7.639500e-01
week          4.242767e-02
col1          2.094056e-03
col2         -1.635055e-02
col3         -1.741485e+00
col4         -9.694090e-02
col5          8.989055e-04
col6         -3.114847e-08
dtype: float64
const        -3.694667e+04
UNIT_PRICE    3.303283e+01
year          1.828883e+01
sin365        2.043042e-01
month         1.931261e+02
cos365       -7.639500e-01
week          4.242767e-02
col1          2.094056e-03
col2         -1.635055e-02
col3         -1.741485e+00
col4         -9.694090e-02
col5          8.989055e-04
col6         -3.114847e-08
dtype: float64
const        -3.162676e+04
UNIT_PRICE    2.237015e+01
year          1.566099e+01
sin365       -3.987480e-01
month         1.776496e+03
cos365       -2.063831e-01
week         -6.901383e-02
col1          4.496359e-03
col2         -1.107780e-02
col3         -2.788028e+01
col4         -8.816222e-01
col5          1.385312e-02
col6         -4.747763e-08
dtype: float64
const        -3.162676e+04
UNIT_PRICE    2.237015e+01
year          1.566099e+01
sin365       -3.987480e-01
month         1.776496e+03
cos365       -2.063831e-01
week         -6.901383e-02
col1          4.496359e-03
col2         -1.107780e-02
col3         -2.788028e+01
col4         -8.816222e-01
col5          1.385312e-02
col6         -4.747763e-08
dtype: float64
const        -4.917404e+03
UNIT_PRICE   -6.297764e+01
year          2.466062e+00
sin365       -2.810263e+00
month         2.921822e+03
cos365        3.257401e-01
week          4.161252e-02
col1          3.413116e-02
col2          3.110131e-02
col3         -3.997876e+01
col4         -1.455065e+00
col5          1.995864e-02
col6         -3.150977e-07
dtype: float64
const        -4.917404e+03
UNIT_PRICE   -6.297764e+01
year          2.466062e+00
sin365       -2.810263e+00
month         2.921822e+03
cos365        3.257401e-01
week          4.161252e-02
col1          3.413116e-02
col2          3.110131e-02
col3         -3.997876e+01
col4         -1.455065e+00
col5          1.995864e-02
col6         -3.150977e-07
dtype: float64
const        -3.457711e+04
UNIT_PRICE    2.637840e+01
year          1.709593e+01
sin365       -7.555637e-01
month         5.062200e+03
cos365       -6.294419e-03
week          3.636050e-01
col1         -3.649522e-02
col2         -1.301605e-02
col3         -7.753259e+01
col4         -2.497819e+00
col5          3.821499e-02
col6          3.482774e-07
dtype: float64
const        -3.457711e+04
UNIT_PRICE    2.637840e+01
year          1.709593e+01
sin365       -7.555637e-01
month         5.062200e+03
cos365       -6.294419e-03
week          3.636050e-01
col1         -3.649522e-02
col2         -1.301605e-02
col3         -7.753259e+01
col4         -2.497819e+00
col5          3.821499e-02
col6          3.482774e-07
dtype: float64
const         130594.737237
UNIT_PRICE      -115.831396
year             -64.540509
sin365             4.493519
month         -33777.146220
cos365            -2.526341
week              -0.374083
col1               0.187543
col2               0.057235
col3            3102.050353
col4              16.624185
col5              -1.533285
col6              -0.000002
dtype: float64
const         130594.737237
UNIT_PRICE      -115.831396
year             -64.540509
sin365             4.493519
month         -33777.146220
cos365            -2.526341
week              -0.374083
col1               0.187543
col2               0.057235
col3            3102.050353
col4              16.624185
col5              -1.533285
col6              -0.000002
dtype: float64
const            -0.285021
UNIT_PRICE      -88.364817
year              0.158263
sin365           -1.029373
month         10413.940365
cos365           -0.526123
week             -0.504247
col1              0.226174
col2              0.043235
col3           -219.403229
col4             -5.188639
col5              0.109326
col6             -0.000002
dtype: float64
const            -0.285021
UNIT_PRICE      -88.364817
year              0.158263
sin365           -1.029373
month         10413.940365
cos365           -0.526123
week             -0.504247
col1              0.226174
col2              0.043235
col3           -219.403229
col4             -5.188639
col5              0.109326
col6             -0.000002
dtype: float64
const           0.000015
UNIT_PRICE      0.002004
year            0.107815
sin365         15.944440
month           0.000121
cos365         10.044508
week          175.253127
col1            0.057786
col2           -0.000605
col3            0.000754
col4            0.242799
col5            1.509411
col6           -0.000381
dtype: float64
const           0.000015
UNIT_PRICE      0.002004
year            0.107815
sin365         15.944440
month           0.000121
cos365         10.044508
week          175.253127
col1            0.057786
col2           -0.000605
col3            0.000754
col4            0.242799
col5            1.509411
col6           -0.000381
dtype: float64
const         95515.023714
UNIT_PRICE    -3368.042652
year            -47.144025
sin365           -2.766179
month         19370.896246
cos365           -4.167468
week              1.683479
col1              2.006069
col2              1.664171
col3           -332.595365
col4             -9.632743
col5              0.165429
col6             -0.000020

dtype: float64
const         95515.023714
UNIT_PRICE    -3368.042652
year            -47.144025
sin365           -2.766179
month         19370.896246
cos365           -4.167468
week              1.683479
col1              2.006069
col2              1.664171
col3           -332.595365
col4             -9.632743
col5              0.165429
col6             -0.000020
dtype: float64
const            20.011709
UNIT_PRICE     3978.410485
year             -2.388900
sin365           29.289499
month        -66363.064000
cos365           31.427935
week            -11.810203
col1             -5.500399
col2             -1.957217
col3          -5955.133650
col4             33.397963
col5              2.945623
col6              0.000014
dtype: float64
const            20.011709
UNIT_PRICE     3978.410485
year             -2.388900
sin365           29.289499
month        -66363.064000
cos365           31.427935
week            -11.810203
col1             -5.500399
col2             -1.957217
col3          -5955.133650
col4             33.397963
col5              2.945623
col6              0.000014
dtype: float64
const         1.752157e+06
UNIT_PRICE   -1.137171e+04
year         -8.666387e+02
sin365        4.767755e+00
month         6.142587e+04
cos365       -3.081129e+00
week          9.659342e-01
col1          9.033488e-01
col2          5.624950e+00
col3         -4.637019e+02
col4         -3.047600e+01
col5          2.303248e-01
col6         -5.310063e-06
dtype: float64
const         1.752157e+06
UNIT_PRICE   -1.137171e+04
year         -8.666387e+02
sin365        4.767755e+00
month         6.142587e+04
cos365       -3.081129e+00
week          9.659342e-01
col1          9.033488e-01
col2          5.624950e+00
col3         -4.637019e+02
col4         -3.047600e+01
col5          2.303248e-01
col6         -5.310063e-06
dtype: float64

In [135]:
Data=pd.DataFrame()
# df_2['col1'] = df_2['UNIT_PRICE']*df_2['month']
# df_2['col2'] = df_2['UNIT_PRICE']*df_2['year']
# df_2['col3'] = df_2['month']*df_2['week']
# df_2['col4'] = df_2['month']*df_2['year']
# df_2['col5'] = df_2['month']*df_2['year']*df_2['week']
# df_2['col6'] = df_2['month']*df_2['year']*df_2['week']*df_2['UNIT_PRICE']

Data['SCRUB_ITEM']=scrub_l
Data['UNIT_PRICE_coeff']=UNIT_PRICE_l
Data['year_coeff']=year_l
Data['sin365_coeff']=sin365_l
Data['cos365_coeff']=cos365_l
Data['month_coeff']=sin365_l
Data['week_coeff']=week_l
Data['UNIT_PRICE*month']=col_1_l
Data['UNIT_PRICE*year']=col_2_l
Data['month*week']=col_3_l
Data['month*year']=col_4_l
Data['month*year*week']=col_5_l
Data['month*year*week*UNIT_PRICE']=col_6_l

Data['constant']=const_l

Data.head()

,SCRUB_ITEM,UNIT_PRICE_coeff,year_coeff,sin365_coeff,cos365_coeff,month_coeff,week_coeff,UNIT_PRICE*month,UNIT_PRICE*year,month*week,month*year,month*year*week,month*year*week*UNIT_PRICE,constant
0,24,1501.1591,73.2943,0.2889,-0.0367,0.2889,0.1837,-0.8544,-0.7426,18.4354,1.3998,-0.0097,5.832000e-06,-148200.0
1,47,-95.3856,-7.8155,-0.1318,-2.2011,-0.1318,-1.9297,0.1485,0.0471,18.7013,0.6916,-0.0089,-1.831000e-06,15860.0
2,7,337.5629,23.8569,-0.5568,1.5686,-0.5568,0.6392,-0.0387,-0.1671,69.7348,2.0900,-0.0346,1.820000e-07,-48200.0
3,31,-772.1811,-32.1199,-1.4187,2.6320,-1.4187,1.4466,-0.5315,0.3823,279.3990,6.7510,-0.1389,5.818000e-06,64870.0
4,71,244.1711,30.5040,0.1566,-0.1846,0.1566,-0.2786,-0.0421,-0.1209,-33.4638,-0.4827,0.0165,3.037000e-07,-61600.0

In [136]:
df_2.SCRUB_ITEM.nunique()

97

In [137]:
#saving the dataset
Data.to_csv('Coeffs1.csv',index=False)

In [138]:
Data.columns

Index(['SCRUB_ITEM', 'UNIT_PRICE_coeff', 'year_coeff', 'sin365_coeff',
       'cos365_coeff', 'month_coeff', 'week_coeff', 'UNIT_PRICE*month',
       'UNIT_PRICE*year', 'month*week', 'month*year', 'month*year*week',
       'month*year*week*UNIT_PRICE', 'constant'],
      dtype='object')